<?xml version="1.0" encoding="System"?>
<attributeCopy>
    <Map1 caption="MapLayer Config">
        <VectorLayers caption="the names of the srcLayer and updateLayer">
            <name>林地更新年度数据(面)</name>
            <name>林地更新年度数据(面)</name>
        </VectorLayers>
        <selectedState caption="same fields between targetLayer and srcLayer">
            <id>0</id>
            <id>1</id>
            <id>2</id>
            <id>3</id>
            <id>4</id>
            <id>5</id>
            <id>6</id>
            <id>7</id>
            <id>8</id>
            <id>9</id>
            <id>10</id>
            <id>11</id>
            <id>12</id>
            <id>13</id>
            <id>14</id>
            <id>15</id>
            <id>16</id>
            <id>17</id>
            <id>18</id>
            <id>19</id>
            <id>20</id>
            <id>21</id>
            <id>22</id>
            <id>23</id>
            <id>24</id>
            <id>25</id>
            <id>26</id>
            <id>27</id>
            <id>28</id>
            <id>29</id>
            <id>30</id>
            <id>31</id>
            <id>32</id>
            <id>33</id>
            <id>34</id>
            <id>35</id>
            <id>36</id>
            <id>37</id>
            <id>38</id>
            <id>39</id>
            <id>40</id>
            <id>41</id>
            <id>42</id>
            <id>43</id>
            <id>44</id>
        </selectedState>
        <targetFields caption="same fields between targetLayer and srcLayer">
            <fieldName>PKUID(INTEGER)</fieldName>
            <fieldName>SHENG(TEXT)</fieldName>
            <fieldName>XIAN(TEXT)</fieldName>
            <fieldName>XIANG(TEXT)</fieldName>
            <fieldName>CUN(TEXT)</fieldName>
            <fieldName>LIN_YE_JU(TEXT)</fieldName>
            <fieldName>LIN_CHANG(TEXT)</fieldName>
            <fieldName>LIN_BAN(TEXT)</fieldName>
            <fieldName>XIAO_BAN(TEXT)</fieldName>
            <fieldName>DI_MAO(TEXT)</fieldName>
            <fieldName>PO_XIANG(TEXT)</fieldName>
            <fieldName>PO_WEI(TEXT)</fieldName>
            <fieldName>PO_DU(INTEGER)</fieldName>
            <fieldName>KE_JI_DU(TEXT)</fieldName>
            <fieldName>TU_RANG_LX(TEXT)</fieldName>
            <fieldName>TU_CENG_HD(INTEGER)</fieldName>
            <fieldName>MIAN_JI(DOUBLE)</fieldName>
            <fieldName>LD_QS(TEXT)</fieldName>
            <fieldName>DI_LEI(TEXT)</fieldName>
            <fieldName>LIN_ZHONG(TEXT)</fieldName>
            <fieldName>QI_YUAN(TEXT)</fieldName>
            <fieldName>SEN_LIN_LB(TEXT)</fieldName>
            <fieldName>SHI_QUAN_D(TEXT)</fieldName>
            <fieldName>GJGYL_BHDJ(TEXT)</fieldName>
            <fieldName>G_CHENG_LB(TEXT)</fieldName>
            <fieldName>LING_ZU(TEXT)</fieldName>
            <fieldName>YU_BI_DU(DOUBLE)</fieldName>
            <fieldName>YOU_SHI_SZ(TEXT)</fieldName>
            <fieldName>PINGJUN_XJ(INTEGER)</fieldName>
            <fieldName>HUO_LMGQXJ(INTEGER)</fieldName>
            <fieldName>MEI_GQ_ZS(INTEGER)</fieldName>
            <fieldName>TD_TH_LX(TEXT)</fieldName>
            <fieldName>DISPE(TEXT)</fieldName>
            <fieldName>DISASTER_C(TEXT)</fieldName>
            <fieldName>ZL_DJ(TEXT)</fieldName>
            <fieldName>LD_KD(DOUBLE)</fieldName>
            <fieldName>LD_CD(DOUBLE)</fieldName>
            <fieldName>BCLD(TEXT)</fieldName>
            <fieldName>BH_DJ(TEXT)</fieldName>
            <fieldName>LYFQ(TEXT)</fieldName>
            <fieldName>QYKZ(TEXT)</fieldName>
            <fieldName>GLLX(TEXT)</fieldName>
            <fieldName>BHYY(TEXT)</fieldName>
            <fieldName>BHND(TEXT)</fieldName>
            <fieldName>REMARKS(TEXT)</fieldName>
        </targetFields>
        <srcFields>
            <fieldName>PKUID(INTEGER)</fieldName>
            <fieldName>SHENG(TEXT)</fieldName>
            <fieldName>XIAN(TEXT)</fieldName>
            <fieldName>XIANG(TEXT)</fieldName>
            <fieldName>CUN(TEXT)</fieldName>
            <fieldName>LIN_YE_JU(TEXT)</fieldName>
            <fieldName>LIN_CHANG(TEXT)</fieldName>
            <fieldName>LIN_BAN(TEXT)</fieldName>
            <fieldName>XIAO_BAN(TEXT)</fieldName>
            <fieldName>DI_MAO(TEXT)</fieldName>
            <fieldName>PO_XIANG(TEXT)</fieldName>
            <fieldName>PO_WEI(TEXT)</fieldName>
            <fieldName>PO_DU(INTEGER)</fieldName>
            <fieldName>KE_JI_DU(TEXT)</fieldName>
            <fieldName>TU_RANG_LX(TEXT)</fieldName>
            <fieldName>TU_CENG_HD(INTEGER)</fieldName>
            <fieldName>MIAN_JI(DOUBLE)</fieldName>
            <fieldName>LD_QS(TEXT)</fieldName>
            <fieldName>DI_LEI(TEXT)</fieldName>
            <fieldName>LIN_ZHONG(TEXT)</fieldName>
            <fieldName>QI_YUAN(TEXT)</fieldName>
            <fieldName>SEN_LIN_LB(TEXT)</fieldName>
            <fieldName>SHI_QUAN_D(TEXT)</fieldName>
            <fieldName>GJGYL_BHDJ(TEXT)</fieldName>
            <fieldName>G_CHENG_LB(TEXT)</fieldName>
            <fieldName>LING_ZU(TEXT)</fieldName>
            <fieldName>YU_BI_DU(DOUBLE)</fieldName>
            <fieldName>YOU_SHI_SZ(TEXT)</fieldName>
            <fieldName>PINGJUN_XJ(INTEGER)</fieldName>
            <fieldName>HUO_LMGQXJ(INTEGER)</fieldName>
            <fieldName>MEI_GQ_ZS(INTEGER)</fieldName>
            <fieldName>TD_TH_LX(TEXT)</fieldName>
            <fieldName>DISPE(TEXT)</fieldName>
            <fieldName>DISASTER_C(TEXT)</fieldName>
            <fieldName>ZL_DJ(TEXT)</fieldName>
            <fieldName>LD_KD(DOUBLE)</fieldName>
            <fieldName>LD_CD(DOUBLE)</fieldName>
            <fieldName>BCLD(TEXT)</fieldName>
            <fieldName>BH_DJ(TEXT)</fieldName>
            <fieldName>LYFQ(TEXT)</fieldName>
            <fieldName>QYKZ(TEXT)</fieldName>
            <fieldName>GLLX(TEXT)</fieldName>
            <fieldName>BHYY(TEXT)</fieldName>
            <fieldName>BHND(TEXT)</fieldName>
            <fieldName>REMARKS(TEXT)</fieldName>
        </srcFields>
    </Map1>
    <Map2 caption="MapLayer Config">
        <VectorLayers caption="the names of the srcLayer and updateLayer">
            <name>src</name>
            <name>test</name>
        </VectorLayers>
        <selectedState caption="same fields between targetLayer and srcLayer">
            <id>1</id>
            <id>3</id>
            <id>4</id>
            <id>5</id>
            <id>7</id>
        </selectedState>
        <targetFields caption="same fields between targetLayer and srcLayer">
            <fieldName>XBID(Real)</fieldName>
            <fieldName>备注(String)</fieldName>
            <fieldName>OID_(Integer)</fieldName>
            <fieldName>XIANG(String)</fieldName>
            <fieldName>CUN(String)</fieldName>
            <fieldName>LIN_BAN(String)</fieldName>
            <fieldName>XIAO_BAN(String)</fieldName>
            <fieldName>XIAN(String)</fieldName>
            <fieldName>LD_QS(String)</fieldName>
            <fieldName>TDJYQ(String)</fieldName>
            <fieldName>LMSYQ(String)</fieldName>
            <fieldName>LMJYQ(String)</fieldName>
            <fieldName>DI_LEI(String)</fieldName>
            <fieldName>MIAN_JI(Real)</fieldName>
            <fieldName>DI_MAO(String)</fieldName>
            <fieldName>HBG(Integer)</fieldName>
            <fieldName>PO_XIANG(String)</fieldName>
            <fieldName>PO_WEI(String)</fieldName>
            <fieldName>PO_DU(Integer)</fieldName>
            <fieldName>KZLYH(Integer)</fieldName>
            <fieldName>FZCH(Integer)</fieldName>
            <fieldName>TU_CENG_HD(Integer)</fieldName>
            <fieldName>SLHL(Integer)</fieldName>
            <fieldName>CTMY(String)</fieldName>
            <fieldName>TU_RANG_LX(String)</fieldName>
            <fieldName>QSLX(String)</fieldName>
            <fieldName>QSCD(String)</fieldName>
            <fieldName>GMYSZ(String)</fieldName>
            <fieldName>GMPJGD(Real)</fieldName>
            <fieldName>GMZGD(Integer)</fieldName>
            <fieldName>CBYSZ(String)</fieldName>
            <fieldName>CBPJGD(Real)</fieldName>
            <fieldName>CBZGD(Integer)</fieldName>
            <fieldName>GXYSSZ(String)</fieldName>
            <fieldName>GXPJNL(Integer)</fieldName>
            <fieldName>GXPJGD(Real)</fieldName>
            <fieldName>GXGQZS(Integer)</fieldName>
            <fieldName>GXFBQK(String)</fieldName>
            <fieldName>GXSZQK(String)</fieldName>
            <fieldName>DISPE(String)</fieldName>
            <fieldName>DISASTER_C(String)</fieldName>
            <fieldName>JKZK(String)</fieldName>
            <fieldName>SMHLX(String)</fieldName>
            <fieldName>SMHCD(String)</fieldName>
            <fieldName>SMHCY(String)</fieldName>
            <fieldName>SHLX(String)</fieldName>
            <fieldName>SHCD(String)</fieldName>
            <fieldName>SDLX(String)</fieldName>
            <fieldName>QLJG(String)</fieldName>
            <fieldName>ZRD(String)</fieldName>
            <fieldName>GBHJZSL(String)</fieldName>
            <fieldName>YU_BI_DU(Real)</fieldName>
            <fieldName>YSMG(Real)</fieldName>
            <fieldName>LIN_ZHONG(String)</fieldName>
            <fieldName>SHI_QUAN_D(String)</fieldName>
            <fieldName>GYL_BHD(String)</fieldName>
            <fieldName>KJD(String)</fieldName>
            <fieldName>CCLDJ(String)</fieldName>
            <fieldName>XJBDJ(String)</fieldName>
            <fieldName>SSLX(String)</fieldName>
            <fieldName>SSZYSZ(String)</fieldName>
            <fieldName>SSZZS(Integer)</fieldName>
            <fieldName>SSPJXJ(Real)</fieldName>
            <fieldName>SSPJGD(Real)</fieldName>
            <fieldName>KLHMJ(Real)</fieldName>
            <fieldName>XZWZL(String)</fieldName>
            <fieldName>XZWCD(Integer)</fieldName>
            <fieldName>XZWKD(Real)</fieldName>
            <fieldName>YOU_SHI_SZ(String)</fieldName>
            <fieldName>QI_YUAN(String)</fieldName>
            <fieldName>PINGJUN_NL(Integer)</fieldName>
            <fieldName>PINGJUN_XJ(Real)</fieldName>
            <fieldName>PINGJUN_SG(Real)</fieldName>
            <fieldName>PINGJUN_DM(Real)</fieldName>
            <fieldName>MEI_GQ_ZS(Integer)</fieldName>
            <fieldName>BSSZ(String)</fieldName>
            <fieldName>BSSZQY(String)</fieldName>
            <fieldName>BSSZNL(Integer)</fieldName>
            <fieldName>BSSZPJXJ(Real)</fieldName>
            <fieldName>BSSZSG(Real)</fieldName>
            <fieldName>BSSZGQDM(Real)</fieldName>
            <fieldName>BSSZGQZS(Integer)</fieldName>
            <fieldName>SEN_LIN_LB(String)</fieldName>
            <fieldName>BH_DJ(String)</fieldName>
            <fieldName>G_CHENG_LB(String)</fieldName>
            <fieldName>JYLX(String)</fieldName>
            <fieldName>JYGLLX(String)</fieldName>
            <fieldName>JYCSLX(String)</fieldName>
            <fieldName>LDLX(String)</fieldName>
            <fieldName>ZL_DJ(String)</fieldName>
            <fieldName>KE_JI_DU(String)</fieldName>
            <fieldName>LDSYDW(String)</fieldName>
            <fieldName>FRZLDW(String)</fieldName>
            <fieldName>BAK1(String)</fieldName>
            <fieldName>BAK2(String)</fieldName>
            <fieldName>BAK3(String)</fieldName>
            <fieldName>YXMJ(Real)</fieldName>
            <fieldName>XZWMJ(Real)</fieldName>
            <fieldName>ZXJ(Integer)</fieldName>
            <fieldName>SLXJ(Integer)</fieldName>
            <fieldName>YSSZXJ(Integer)</fieldName>
            <fieldName>BSSZXJ(Integer)</fieldName>
            <fieldName>SSXJ(Integer)</fieldName>
            <fieldName>HUO_LMGQXJ(Real)</fieldName>
            <fieldName>ZFNL(Integer)</fieldName>
            <fieldName>ZLND(Integer)</fieldName>
            <fieldName>LING_ZU(String)</fieldName>
            <fieldName>LJ(String)</fieldName>
            <fieldName>JJLCQ(String)</fieldName>
            <fieldName>XBID_1(Real)</fieldName>
            <fieldName>LJJCCWDM(String)</fieldName>
            <fieldName>JYFW(String)</fieldName>
            <fieldName>JYFS(String)</fieldName>
            <fieldName>FCFS(String)</fieldName>
            <fieldName>FCBL(String)</fieldName>
            <fieldName>JBTZJ1(String)</fieldName>
            <fieldName>JBTZJ2(String)</fieldName>
            <fieldName>FBTLX(String)</fieldName>
            <fieldName>LXTLX(String)</fieldName>
        </targetFields>
        <srcFields>
            <fieldName>XBID(Real)</fieldName>
            <fieldName>备注(String)</fieldName>
            <fieldName>OID_(Integer)</fieldName>
            <fieldName>XIANG(String)</fieldName>
            <fieldName>CUN(String)</fieldName>
            <fieldName>LIN_BAN(String)</fieldName>
            <fieldName>XIAO_BAN(String)</fieldName>
            <fieldName>XIAN(String)</fieldName>
            <fieldName>LD_QS(String)</fieldName>
            <fieldName>TDJYQ(String)</fieldName>
            <fieldName>LMSYQ(String)</fieldName>
            <fieldName>LMJYQ(String)</fieldName>
            <fieldName>DI_LEI(String)</fieldName>
            <fieldName>MIAN_JI(Real)</fieldName>
            <fieldName>DI_MAO(String)</fieldName>
            <fieldName>HBG(Integer)</fieldName>
            <fieldName>PO_XIANG(String)</fieldName>
            <fieldName>PO_WEI(String)</fieldName>
            <fieldName>PO_DU(Integer)</fieldName>
            <fieldName>KZLYH(Integer)</fieldName>
            <fieldName>FZCH(Integer)</fieldName>
            <fieldName>TU_CENG_HD(Integer)</fieldName>
            <fieldName>SLHL(Integer)</fieldName>
            <fieldName>CTMY(String)</fieldName>
            <fieldName>TU_RANG_LX(String)</fieldName>
            <fieldName>QSLX(String)</fieldName>
            <fieldName>QSCD(String)</fieldName>
            <fieldName>GMYSZ(String)</fieldName>
            <fieldName>GMPJGD(Real)</fieldName>
            <fieldName>GMZGD(Integer)</fieldName>
            <fieldName>CBYSZ(String)</fieldName>
            <fieldName>CBPJGD(Real)</fieldName>
            <fieldName>CBZGD(Integer)</fieldName>
            <fieldName>GXYSSZ(String)</fieldName>
            <fieldName>GXPJNL(Integer)</fieldName>
            <fieldName>GXPJGD(Real)</fieldName>
            <fieldName>GXGQZS(Integer)</fieldName>
            <fieldName>GXFBQK(String)</fieldName>
            <fieldName>GXSZQK(String)</fieldName>
            <fieldName>DISPE(String)</fieldName>
            <fieldName>DISASTER_C(String)</fieldName>
            <fieldName>JKZK(String)</fieldName>
            <fieldName>SMHLX(String)</fieldName>
            <fieldName>SMHCD(String)</fieldName>
            <fieldName>SMHCY(String)</fieldName>
            <fieldName>SHLX(String)</fieldName>
            <fieldName>SHCD(String)</fieldName>
            <fieldName>SDLX(String)</fieldName>
            <fieldName>QLJG(String)</fieldName>
            <fieldName>ZRD(String)</fieldName>
            <fieldName>GBHJZSL(String)</fieldName>
            <fieldName>YU_BI_DU(Real)</fieldName>
            <fieldName>YSMG(Real)</fieldName>
            <fieldName>LIN_ZHONG(String)</fieldName>
            <fieldName>SHI_QUAN_D(String)</fieldName>
            <fieldName>GYL_BHD(String)</fieldName>
            <fieldName>KJD(String)</fieldName>
            <fieldName>CCLDJ(String)</fieldName>
            <fieldName>XJBDJ(String)</fieldName>
            <fieldName>SSLX(String)</fieldName>
            <fieldName>SSZYSZ(String)</fieldName>
            <fieldName>SSZZS(Integer)</fieldName>
            <fieldName>SSPJXJ(Real)</fieldName>
            <fieldName>SSPJGD(Real)</fieldName>
            <fieldName>KLHMJ(Real)</fieldName>
            <fieldName>XZWZL(String)</fieldName>
            <fieldName>XZWCD(Integer)</fieldName>
            <fieldName>XZWKD(Real)</fieldName>
            <fieldName>YOU_SHI_SZ(String)</fieldName>
            <fieldName>QI_YUAN(String)</fieldName>
            <fieldName>PINGJUN_NL(Integer)</fieldName>
            <fieldName>PINGJUN_XJ(Real)</fieldName>
            <fieldName>PINGJUN_SG(Real)</fieldName>
            <fieldName>PINGJUN_DM(Real)</fieldName>
            <fieldName>MEI_GQ_ZS(Integer)</fieldName>
            <fieldName>BSSZ(String)</fieldName>
            <fieldName>BSSZQY(String)</fieldName>
            <fieldName>BSSZNL(Integer)</fieldName>
            <fieldName>BSSZPJXJ(Real)</fieldName>
            <fieldName>BSSZSG(Real)</fieldName>
            <fieldName>BSSZGQDM(Real)</fieldName>
            <fieldName>BSSZGQZS(Integer)</fieldName>
            <fieldName>SEN_LIN_LB(String)</fieldName>
            <fieldName>BH_DJ(String)</fieldName>
            <fieldName>G_CHENG_LB(String)</fieldName>
            <fieldName>JYLX(String)</fieldName>
            <fieldName>JYGLLX(String)</fieldName>
            <fieldName>JYCSLX(String)</fieldName>
            <fieldName>LDLX(String)</fieldName>
            <fieldName>ZL_DJ(String)</fieldName>
            <fieldName>KE_JI_DU(String)</fieldName>
            <fieldName>LDSYDW(String)</fieldName>
            <fieldName>FRZLDW(String)</fieldName>
            <fieldName>BAK1(String)</fieldName>
            <fieldName>BAK2(String)</fieldName>
            <fieldName>BAK3(String)</fieldName>
            <fieldName>YXMJ(Real)</fieldName>
            <fieldName>XZWMJ(Real)</fieldName>
            <fieldName>ZXJ(Integer)</fieldName>
            <fieldName>SLXJ(Integer)</fieldName>
            <fieldName>YSSZXJ(Integer)</fieldName>
            <fieldName>BSSZXJ(Integer)</fieldName>
            <fieldName>SSXJ(Integer)</fieldName>
            <fieldName>HUO_LMGQXJ(Real)</fieldName>
            <fieldName>ZFNL(Integer)</fieldName>
            <fieldName>ZLND(Integer)</fieldName>
            <fieldName>LING_ZU(String)</fieldName>
            <fieldName>LJ(String)</fieldName>
            <fieldName>JJLCQ(String)</fieldName>
            <fieldName>XBID_1(Real)</fieldName>
            <fieldName>LJJCCWDM(String)</fieldName>
            <fieldName>JYFW(String)</fieldName>
            <fieldName>JYFS(String)</fieldName>
            <fieldName>FCFS(String)</fieldName>
            <fieldName>FCBL(String)</fieldName>
            <fieldName>JBTZJ1(String)</fieldName>
            <fieldName>JBTZJ2(String)</fieldName>
            <fieldName>FBTLX(String)</fieldName>
            <fieldName>LXTLX(String)</fieldName>
        </srcFields>
    </Map2>
</attributeCopy>
